/******************
SELETORES
*******************/
body {color: #5d5d5d}
main {background-color: #f7f7f7}
h1 {font-size: 1.4em;}
h2, h3 {font-size: 1.1em}
p {font-size: 1em}
ul li a {display: inline-block}
/******************
ID'S
*******************/
/******************
CLASSES
*******************/
.title { 
    color: #e5d429;
    font-size: 1.8em;
}
.filter-title {
    width: 175px;
    display: block;
    margin: 0 auto;
}
.filter-roles a {width: 175px}
.filter-block {width: 300px}
.bg-damage {background-color:#e52128}
.bg-tank{background-color: #f9a32c}
.bg-support{background-color:#02a34a}
.bg-not-selected {background-color: #ccc}
.weapon a, .abilities a{
    background-color: #333;
    display:inline-block;
}
.weapon a {float: left;}